*{
    margin: 0;
    padding: 0;
    border: border-box; 
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    height: 60px;
    color: white;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url(/images/amazon_logo.png);
    background-size: cover;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box-2*/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 19px;
}

.add-second{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
    
}

/* box-3*/

.nav-search{
    background-color: pink;
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
    

}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
   background-color:  #f3f3f3;
   width: 50px;
   text-align: center;
   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   border: none;
   padding: 6px;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 3px;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 192, 20);
    border-top-right-radius:5px;
   border-bottom-right-radius:5px;
  color:#0f1111;
}

.language{
    display: flex;
    /* background-color: red; */
    width: 45px;
}
.america-logo{
    background-image: url(america.png);
    height: 16px;
    width: 21px;
    background-size: cover;
    margin-right: 2px;
}

.language p{
    font-size:15px;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}

/* second navbar styles */
.navbar-2{
    height: 40px;
    background-color: #3f5182;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 14px;
    

}

.navbar-2 li{
    margin-right: 20px;
}

.navbar-2 i{
    padding: 0px 5px;
}


/* hero section */

.hero-section{
    background-image: url(/images/hero_image.jpg);
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
    font-size: 0.85rem;
}

.hero-msg a{
    color: #2162a1;
    font-size: 14px;
}

/*shop section */

.shop-section{
    background-color: rgb(255, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    background-color: white;
    height:400px;
    width: 23%;
    /* border: 1px solid black; */
    color: black;
    margin-top: 15px;
}

.box-content{
    padding: 20px 20px 15px ;
    height: 350px;
}

.img{
    height:300px ;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.box-content p{
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.box-content a{
    
    font-size: 1rem;
    color: #2162a1;
    
}

/* sign in */
.sign-in {
    height: 180px;
    background-color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
   
}

.sign-in-content{
    height: 170px;
    background-color:white;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    
}

.sign-in-content h1{
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: 24px;
}

button{
    border-radius: 20px;
    padding: 8px 60px;
    font-size: 1rem;
    width: 240px;
    background-color: #FFD814;
    border: none;
    margin-bottom: 4px;
    font-weight: 700;
}

.sign-in-content p{
    font-size: 11px;
 
}

.sign-in-content a{
    color: #2162a1;
    /* text-decoration: underline; */
 
}


/* backtop */
.foot-panel-1{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.foot-panel-2{
    height: 400px;
    background-color: #3f5182;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 ul a{
    color: #DDDDDD;
    display: block;
    font-size: 0.95rem;
    margin-top: 10px;
}

ul p{
    color: #dddddd;
}





